@charset "UTF-8";
.navbar {
  position: fixed;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.863);
  width: 100%;
}
.navbar .container {
  /* placer navbar au milieu*/
  max-width: 1140px;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}
.navbar .container ul {
  /* élement de navigation*/
  display: flex;
  list-style: none;
  margin-top: 35px;
}
.navbar .container ul a {
  text-decoration: none;
}
.navbar .container ul li {
  font-family: "Bebas Neue", cursive;
  margin-left: 30px;
  font-size: 25px;
  color: black;
}
.navbar .container .logo {
  /* logo + titre*/
  display: flex;
}
.navbar .container .logo a img {
  max-width: 200px;
  margin-right: 30px;
}
.navbar .container .logo h1 {
  font-family: "Bebas Neue", cursive;
  margin-top: 25px;
  font-size: 45px;
  color: black;
  margin-right: 300px;
}

* {
  margin: 0;
  padding: 0;
}

.photo {
  background-image: url("https://images.unsplash.com/photo-1598488035139-bdbb2231ce04?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2070&q=80");
  height: 900px;
  width: auto;
  background-repeat: no-repeat;
  background-color: #c953c3;
  background-position: center;
  background-size: cover;
  position: relative;
}
.photo .content {
  position: absolute;
  top: 350px;
  right: 40%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
}
.photo .content .fleche {
  max-width: 100px;
  margin-left: auto;
  margin-right: auto;
}
.photo .content h2 {
  text-align: center;
  color: white;
  font-family: "Bebas Neue", cursive;
  font-size: 50px;
}

.photo::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background: -webkit-linear-gradient(bottom, #ffffff, rgba(255, 255, 255, 0));
  background: linear-gradient(to top, #ffffff, rgba(255, 255, 255, 0));
}

.mevente .cards {
  margin-left: auto;
  margin-right: auto;
  max-width: 1140px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mevente .cards .card1 {
  max-width: 600px;
  margin-left: -200px;
}
.mevente .cards .card1 h3 {
  font-family: "Bebas Neue", cursive;
  text-align: center;
  margin-top: 20px;
  font-size: 40px;
}
.mevente .cards .card1 p {
  font-family: "Roboto Condensed", sans-serif;
  text-align: center;
  margin: 20px;
}
.mevente .cards .card2 {
  max-width: 600px;
  margin: 70px 0;
  margin-left: 200px;
}
.mevente .cards .card2 h3 {
  font-family: "Bebas Neue", cursive;
  text-align: center;
  margin-top: 20px;
  font-size: 40px;
}
.mevente .cards .card2 p {
  font-family: "Roboto Condensed", sans-serif;
  text-align: center;
  margin: 20px;
}
.mevente .cards .card3 {
  max-width: 600px;
  margin-left: -200px;
}
.mevente .cards .card3 h3 {
  font-family: "Bebas Neue", cursive;
  text-align: center;
  margin-top: 20px;
  font-size: 40px;
}
.mevente .cards .card3 p {
  font-family: "Roboto Condensed", sans-serif;
  text-align: center;
  margin: 20px;
}
.mevente h2 {
  font-family: "Bebas Neue", cursive;
  text-align: center;
  font-size: 100px;
  margin: 120px 0;
}

footer {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}
footer .boxinfos {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
}
footer .boxinfos .logobas {
  max-width: 200px;
}
footer .boxinfos .infos {
  display: flex;
  flex-direction: row;
}
footer .boxinfos .infos ul li {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 20px;
  list-style: none;
  margin-top: 5px;
}

.barre {
  height: 2px;
  width: 1800px;
  background-color: black;
  margin: 70px auto;
}

.ap {
  position: relative;
  background-image: url(https://images.unsplash.com/photo-1633085650319-b9efc57dcf07?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1974&q=80);
  height: 2000px;
  background-size: cover;
  background-repeat: no-repeat;
}
.ap .va {
  font-family: "Bebas Neue", cursive;
  padding-top: 200px;
  text-align: center;
  font-size: 100px;
}
.ap .container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}
.ap .container2 .valeur1 {
  width: 600px;
  margin-left: -300px;
}
.ap .container2 .valeur1 .cercle {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: springgreen;
  margin: 0 25px 25px 0;
  float: left;
  shape-outside: circle();
  background-image: url(https://images.unsplash.com/photo-1456086272160-b28b0645b729?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mzd8fGNyZWF0aXZpdHl8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
  background-size: cover;
}
.ap .container2 .valeur1 h2 {
  font-family: "Bebas Neue", cursive;
  font-size: 50px;
}
.ap .container2 .valeur1 p {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 25px;
}
.ap .container2 .valeur2 {
  width: 600px;
  margin: 200px 0;
  margin-left: 300px;
}
.ap .container2 .valeur2 .cercle {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: springgreen;
  margin: 0 25px 25px 0;
  float: left;
  shape-outside: circle();
  background-image: url(https://images.unsplash.com/photo-1471247511763-88a722fc9919?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8ZGFyaW5nfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
  background-size: cover;
  background-position: -50px 0;
}
.ap .container2 .valeur2 h2 {
  font-family: "Bebas Neue", cursive;
  font-size: 50px;
}
.ap .container2 .valeur2 p {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 25px;
}
.ap .container2 .valeur3 {
  width: 600px;
  margin-left: -300px;
}
.ap .container2 .valeur3 .cercle {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: springgreen;
  margin: 0 25px 25px 0;
  float: left;
  shape-outside: circle();
  background-image: url(https://images.unsplash.com/photo-1606765962208-62a3c676bf38?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fHByJUMzJUE5Y2lzaW9ufGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
  background-size: cover;
  background-position: -50px 0;
}
.ap .container2 .valeur3 h2 {
  font-family: "Bebas Neue", cursive;
  font-size: 50px;
}
.ap .container2 .valeur3 p {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 25px;
}

.ap::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background: -webkit-linear-gradient(bottom, #ffffff, rgba(255, 255, 255, 0));
  background: linear-gradient(to top, #ffffff, rgba(255, 255, 255, 0));
}

.barre3 {
  height: 2px;
  width: 1800px;
  background-color: black;
  margin: 0px auto;
  margin-bottom: 70px;
}

section .question {
  font-family: "Bebas Neue", cursive;
  font-size: 100px;
  text-align: center;
  padding-top: 200px;
}
section form {
  margin-top: 50px;
}
section form ._prenom {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
section form ._prenom label {
  text-align: center;
  font-size: 50px;
  font-family: "Bebas Neue", cursive;
}
section form ._prenom input {
  font-size: 30px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  border: none;
  font-family: "Roboto Condensed", sans-serif;
}
section form ._nom {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}
section form ._nom label {
  text-align: center;
  font-size: 50px;
  font-family: "Bebas Neue", cursive;
}
section form ._nom input {
  font-size: 30px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  border: none;
  font-family: "Roboto Condensed", sans-serif;
}
section form .admail {
  align-items: center;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}
section form .admail label {
  text-align: center;
  font-size: 50px;
  font-family: "Bebas Neue", cursive;
}
section form .admail input {
  font-size: 30px;
  width: 250px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  border: none;
  font-family: "Roboto Condensed", sans-serif;
}
section form .pp {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}
section form .pp label {
  text-align: center;
  font-size: 50px;
  font-family: "Bebas Neue", cursive;
}
section form .pp select {
  height: 30px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
  border: none;
}
section form .pp select option {
  font-size: 30px;
  font-family: "Roboto Condensed", sans-serif;
}
section form .text {
  align-items: center;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}
section form .text textarea {
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  border: none;
  width: 500px;
  height: 300px;
}
section form .text label {
  font-size: 50px;
  font-family: "Bebas Neue", cursive;
}
section form .envoyer {
  position: absolute;
  right: 45.5%;
  font-size: 50px;
  font-family: "Bebas Neue", cursive;
  border-radius: 50%;
  padding: 20px;
  background-color: white;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
}

.barre2 {
  margin-top: 170px;
  margin-bottom: 70px;
  height: 2px;
  width: 1800px;
  background-color: black;
  margin-left: auto;
  margin-right: auto;
}

/*# sourceMappingURL=style.css.map */
