* {
  margin: 0;
  padding: 0;
}

.container {
  width: 1140px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 576px) {
  .container {
    width: 100%;
  }
}

nav {
  background-color: #7cadfb;
  padding: 15px 0;
}
nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .container .logo {
  font-size: 25px;
  text-transform: uppercase;
}
nav .container .menu ul {
  display: flex;
}
nav .container .menu ul li {
  list-style: none;
  margin: 0 10px;
}
nav .container .menu ul li a {
  width: 100%;
  display: block;
  padding: 10px 0;
}
@media screen and (max-width: 576px) {
  nav .container .menu ul {
    height: 0;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: white;
    overflow: hidden;
    transition: height 0.5s;
    flex-direction: column;
  }
}
nav .container .menu .burger-menu {
  display: none;
}
nav .container .menu .burger-menu img {
  max-width: 35px;
}
@media screen and (max-width: 576px) {
  nav .container .menu .burger-menu {
    display: block;
  }
}
nav .container .menu.displayed ul {
  height: 120px;
}

header {
  background-color: #11064e;
  color: white;
  padding: 5rem 0;
}
header .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header .container h1:before {
  content: "";
}
header .container .splitter {
  position: relative;
}
header .container .splitter img {
  max-width: 50px;
  filter: invert(98%) sepia(0%) saturate(7500%) hue-rotate(259deg) brightness(104%) contrast(104%);
}
header .container .splitter:before {
  content: "";
  width: 200px;
  height: 10px;
  background-color: white;
  border-radius: 5px;
  position: absolute;
  left: -220px;
  top: 50%;
}
header .container .splitter:after {
  content: "";
  width: 200px;
  height: 10px;
  background-color: white;
  border-radius: 5px;
  position: absolute;
  left: 70px;
  top: 50%;
}

/*# sourceMappingURL=style.css.map */
