// stylisation du footer
footer{
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
// contenu du footer
    .boxinfos{
        margin-bottom: 50px;
        display: flex;
        justify-content: space-between;
        .logobas{
            max-width: 200px;
            
        }
       .infos{
           display: flex;
           flex-direction: row; 
            ul{
                li{
                    font-family: 'Roboto Condensed', sans-serif;
                    font-size: 20px;
                    list-style: none;
                    margin-top: 5px;
                }
                
            }  
       }
    }

}

// stylisation de la barre avant le footer
.barre{
    height: 2px;
    width: 1800px;
    background-color: rgb(0, 0, 0);
    margin: 70px auto;
}