section{

// stylisation du titre
    .question{
        font-family: $primary-font;
        font-size: 100px;
        text-align: center;
        padding-top: 200px;
    }
// stylisation du formulaire 
    form{
        margin-top: 50px;

// formaulaire prenom
        ._prenom{
            margin-left: auto;
            margin-right: auto;
            width: 200px;
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;
            label{
                text-align: center;
                font-size: 50px;
                font-family: $primary-font; 
            }
            input{
                font-size: 30px;
                box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
                border: none;
                font-family: 'Roboto Condensed', sans-serif;
            }
        }
// formaulaire nom
        ._nom{
            margin-left: auto;
            margin-right: auto;
            width: 200px;
            margin-bottom: 20px;
            display: flex;
            flex-direction: column;
            label{
                text-align: center;
                font-size: 50px;
                font-family: $primary-font; 
            }
            input{
                font-size: 30px;
                box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
                border: none;
                font-family: 'Roboto Condensed', sans-serif;
            }
    
        }
// formaulaire adresse mail
        .admail{
            align-items: center;
            margin-bottom: 20px;
            display: flex;
            flex-direction: column;
            label{
                text-align: center;
                font-size: 50px;
                font-family: $primary-font; 
            }
            input{
                font-size: 30px;
                width: 250px;
                box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
                border: none;
                font-family: 'Roboto Condensed', sans-serif;
            }
        }
// formaulaire statut
        .pp{
            margin-left: auto;
            margin-right: auto;
            width: 200px;
            margin-bottom: 20px;
            display: flex;
            flex-direction: column;
            label{
                text-align: center;
                font-size: 50px;
                font-family: $primary-font; 
            }
            select{
                height: 30px;
                option{
                    font-size: 30px;
                    font-family: 'Roboto Condensed', sans-serif;
                }
                box-shadow: 0 5px 10px 0 rgba(0,0,0,0.5);
                border: none;
            }
        }
// formaulaire question à poser
        .text{
            align-items: center;
            margin-bottom: 20px;
            display: flex;
            flex-direction: column;
            textarea{
                box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
                border: none;
                width: 500px;
                height: 300px;
            }
            label{
                font-size: 50px;
                font-family: $primary-font; 
            }
            
            
        }
// stylisation du bouton
        .envoyer{
            position: absolute;
            right: 45.5%;
            font-size: 50px;
            font-family: $primary-font;
            border-radius: 50%;
            padding: 20px;
            background-color: rgb(255, 255, 255);
            box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2);
        }
    }
}

// stylisation de la barre qui sépare le footer 
.barre2{
    margin-top: 170px;
    margin-bottom: 70px;
    height: 2px;
    width: 1800px;
    background-color: rgb(0, 0, 0);
    margin-left: auto;
    margin-right: auto;
}