.photo{
// importation de la photo du font d'écran et stylisation

    background-image: url('https://images.unsplash.com/photo-1598488035139-bdbb2231ce04?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2070&q=80');
    height: 900px;
    width: auto;
    background-repeat: no-repeat;
    background-color: rgb(201, 83, 195);
    background-position: center;
    background-size: cover;
    

// position relative pour placer les élements dans le background
    position: relative;
    .content{
        .fleche{
            max-width: 100px;
            margin-left: auto;
            margin-right: auto;
            
        }
        h2{
            text-align: center;
            color: rgb(255, 255, 255);
            font-family: $primary-font ;
            font-size: 50px;
        }
// position absolute pour placer les élements dans le background
        position: absolute;         
        top: 350px;         
        right: 40%;
        display: flex;
        flex-direction: column;
        cursor: pointer; 
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;
        outline: inherit;   
        
         
    }   
}
// crétion du dégradé de couleur en bas de l'image
.photo::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background: -webkit-linear-gradient( bottom , #ffffff, rgba(255, 255, 255, 0));
    background: linear-gradient(to top, #ffffff, rgba(255,255,255,0));
}