// stylisation navbar
.navbar{
     position: fixed;
     z-index: 1;
     background-color: rgba(255, 255, 255, 0.863);
     width: 100%;
    .container{
        /* placer navbar au milieu*/
        max-width: 1140px;
        display: flex;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
        ul{
            a{
                text-decoration: none;
            }
            /* élement de navigation*/
            display: flex;
            list-style: none;
            margin-top: 35px;
            li{
                font-family: $primary-font;
                margin-left: 30px;
                font-size: 25px;
                color: rgb(0, 0, 0);
            }
        }
        .logo{
            /* logo + titre*/
            a{
                img{
                    max-width: 200px;
                    margin-right: 30px;
                }
            }
            
            h1{
                font-family: $primary-font;
                margin-top: 25px;
                font-size: 45px;
                color: rgb(0, 0, 0);
                margin-right: 300px;
            }
            display: flex;
        }
    }
}

