.mevente{
// stylisation de la présentation des produits
    .cards{
// disposition des produits
        margin-left: auto;
        margin-right: auto;
        max-width: 1140px;
        display: flex;
        flex-direction: column;
        align-items: center;
       
        .card1{
// premier produit
            max-width: 600px;
            margin-left: -200px;
           
            h3{
                font-family: $primary-font;
                text-align: center;
                margin-top: 20px;
                font-size: 40px;
            }
            p{
                font-family: 'Roboto Condensed', sans-serif;
                text-align: center;
                margin: 20px;
            }
        }
        .card2{
// deuxième produit
            max-width: 600px;
            margin: 70px 0;
            margin-left: 200px;
            h3{
                font-family: $primary-font;
                text-align: center;
                margin-top: 20px;
                font-size: 40px;
            }
            p{
                font-family: 'Roboto Condensed', sans-serif;
                text-align: center;
                margin: 20px;
            }
        }
        .card3{
// troisième produit
            max-width: 600px; 
            margin-left: -200px;
            h3{
                font-family: $primary-font;
                text-align: center;
                margin-top: 20px;
                font-size: 40px;
            }
            p{
                font-family: 'Roboto Condensed', sans-serif;
                text-align: center;
                margin: 20px;
            }
        }
    }
// stylisation du titre
    h2{
        font-family: $primary-font;
        text-align: center;
        font-size: 100px;
        margin: 120px 0;
    }
}
