.ap{
// création du background
    position: relative;
    background-image: url(https://images.unsplash.com/photo-1633085650319-b9efc57dcf07?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1974&q=80);
    height: 2000px;
    background-size: cover;
    background-repeat: no-repeat;

    .va{
// stylisation du titre
        font-family: $primary-font;
        padding-top: 200px;
        text-align: center;
        font-size: 100px;
    }
    .container2{
// création du contenaire affichant les valeurs
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 100px;
        .valeur1{
// stylisation de la première valeur
            width: 600px;
            margin-left: -300px;
            .cercle{
                width: 250px;
                height: 250px;
// border-radius
                border-radius: 50%;
                background-color: springgreen;
                margin: 0 25px 25px 0;
                float: left;
                shape-outside: circle();
                background-image: url(https://images.unsplash.com/photo-1456086272160-b28b0645b729?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mzd8fGNyZWF0aXZpdHl8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
                background-size: cover;
            }
            h2{
                font-family: $primary-font;
                font-size: 50px;
            }
            p{
                font-family: 'Roboto Condensed', sans-serif;
                font-size: 25px;
            }
        }
        .valeur2{
// stylisation de la deuxième valeur
            width: 600px;
            margin: 200px 0;
            margin-left: 300px;
            .cercle{
                width: 250px;
                height: 250px;
                border-radius: 50%;
                background-color: springgreen;
                margin: 0 25px 25px 0;
                float: left;
                shape-outside: circle();
                background-image: url(https://images.unsplash.com/photo-1471247511763-88a722fc9919?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8ZGFyaW5nfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
                background-size: cover;
                background-position: -50px 0;
            }
            h2{
                font-family: $primary-font;
                font-size: 50px;
            }
            p{
                font-family: 'Roboto Condensed', sans-serif;
                font-size: 25px;
            }
        }
        .valeur3{
// stylisation de la troisième valeur
            width: 600px;
            margin-left: -300px;
            .cercle{
                width: 250px;
                height: 250px;
                border-radius: 50%;
                background-color: springgreen;
                margin: 0 25px 25px 0;
                float: left;
                shape-outside: circle();
                background-image: url(https://images.unsplash.com/photo-1606765962208-62a3c676bf38?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fHByJUMzJUE5Y2lzaW9ufGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
                background-size: cover;
                background-position: -50px 0;
            }
            h2{
                font-family: $primary-font;
                font-size: 50px;
            }
            p{
                font-family: 'Roboto Condensed', sans-serif;
                font-size: 25px;
            }
        }
    }

}
// création du dégradé en bas de l'arrière plan
.ap::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background: -webkit-linear-gradient( bottom , #ffffff, rgba(255, 255, 255, 0));
    background: linear-gradient(to top, #ffffff, rgba(255,255,255,0));
}
// stylisation de la barre qui sépare le footer 
.barre3{
    height: 2px;
    width: 1800px;
    background-color: rgb(0, 0, 0);
    margin: 0px auto;
    margin-bottom: 70px;

}