header{
    background-color: rgb(17, 6, 78);
    color: white;
    padding: 5rem 0;
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        h1{
            &:before{
                content: '';
            }
        }
        .splitter{
            position: relative;
            img{
                max-width: 50px;
                filter: invert(98%) sepia(0%) saturate(7500%) hue-rotate(259deg) brightness(104%) contrast(104%);
            }
            &:before{
                content: "";
                width: 200px; 
                height: 10px;
                background-color: white;
                border-radius: 5px;
                position: absolute;
                left: -220px;
                top: 50%;
            }
            &:after{
                content: "";
                width: 200px; 
                height: 10px;
                background-color: white;
                border-radius: 5px;
                position: absolute;
                left: 70px;
                top: 50%;
            }

        }
    }
}