nav{
    background-color: $primary;
    padding: 15px 0;
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo{
            font-size: 25px;
            text-transform: uppercase;
        }
        .menu{
            ul{
            
                display: flex;
                li{
                    list-style: none;
                    margin: 0 10px;
                    
                    a{
                        width: 100%;
                        display: block;
                        padding: 10px 0;
                    }
                }
                    @include small{
                        height: 0;
                        position: absolute;
                        top: 70px;
                        left: 0;
                        width: 100%;
                        background-color: white;
                        overflow: hidden;
                        transition: height .5s;
                        flex-direction: column;
                }
            }
            .burger-menu{
                display: none;
                img{
                    max-width: 35px;
                }
                @include small{
                    display: block;
                }
            }
            &.displayed{
                ul{

                    height: 120px;
                   

                }
            }
        }
    }
}